angular.module('Docportal')
    .constant('AUTH', {
        'grant_type': 'password',
        'client_id': '{{ portal_client_id }}',
        'client_secret':'{{ portal_client_secret }}'
    })
    .constant('API_URL', {
        'auth': 'http{% if ssl == 1 %}s{% endif %}://{{ app_domain }}/v1'
    })
    .constant('AUTH_URL', {
        'auth': 'http{% if ssl == 1 %}s{% endif %}://{{ oauth_domain }}'
    })
    .constant('ENV', {
        'type': '{{ env }}'
    })
    .constant('SENTRY', {
        'dsn': '{{ portal_sentry_dsn }}'
    })
    .constant('SETTINGS', {
        'products': '{{ portal_settings_products }}',
        shipsWithin: '{{ portal_settings_ships_within }}'
    })
    .constant('PUSHER', {
        'app_id': '{{ portal_pusher_id }}',
        'app_key': '{{ portal_pusher_key }}',
        'app_secret': '{{ portal_pusher_secret }}'
    })
    .constant('PAYMENT', {
        use_default: {{ portal_payment_use_default }},
        default: '{{ portal_payment_default }}',
        mps: {
            hosted: {{ portal_payment_mps_hosted }},
            complete: {{ portal_payment_mps_complete }},
        }
    })
    .constant('BUILD', {
        'version': '{{ version }}'
    });
