server {
    listen 80;

    root /var/www/portal;
    index index.html intex.htm;

    server_name {{ portal_domain }};

    # error_log /var/log/nginx/sites/portal/error.log;

    location / {
        try_files $uri $uri/ /index.html;
    }
}
