APP_ENV={{ env }}
APP_NAME=SSO
APP_KEY=sfLYG8uX6JJcB7KndfzEft9dqvdWxTTK
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL='http{% if ssl == 0 %}s{% endif %}://{{ app_domain }}/v1'

###
### LARAVEL PASSPORT SSO
###
PASSPORT_TOKEN_EXPIRE_IN={{ oauth_passport_token_expire_in }}
PASSPORT_REFRESH_TOKEN_EXPIRE_IN={{ oauth_passport_refresh_token_expire_in }}

###
### DATABASE
###
DB_CONNECTION=app

DB_APP_HOST=mysql
DB_APP_PORT={{ mysql_port }}
DB_APP_DATABASE={{ mysql_db_app }}
DB_APP_USERNAME={{ mysql_user }}
DB_APP_PASSWORD='{{ mysql_password }}'

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=

SENTRY_DSN='{{ oauth_sentry_dsn }}'

