server {
    listen 80;

    server_name oauth.{{ env }}.loc 
        app.{{ env }}.loc;

    {% if ssl == 1%}
    ssl_certificate {{ ssl_cert_dest.portal.cert }};
    ssl_certificate_key {{ ssl_cert_dest.portal.key }};
    {% endif %}

    location / {
        proxy_pass http://localhost:{{ host_port }};
        include proxy.conf;
    }
}

server {
    listen 80;

    server_name portal.{{ env }}.loc;
    index index.html;

    access_log /data/{{ env }}/logs/portal/{{ new_color }}/access.log;
    error_log /data/{{ env }}/logs/portal/{{ new_color }}/error.log warn;

    root /data/{{ env }}/portal/{{ new_color }};

    {% if ssl == 1%}
    ssl_certificate {{ ssl_cert_dest.portal.cert }};
    ssl_certificate_key {{ ssl_cert_dest.portal.key }};
    {% endif %}

    location / {
        try_files $uri $uri/ /index.html;
    }
}
