[program:{{ env }}_{{ item.name }}]
user=nginx
directory=/var/www/app
command={{ item.command }}
autostart=true
autorestart=true
stderr_logfile=/var/www/app/storage/logs/supervisor/{{ item.name }}.err.log
stdout_logfile=/var/www/app/storage/logs/supervisor/{{ item.name }}.out.log
