###
### APP SETTINS
###
APP_ENV=local
APP_DEBUG={{ app_debug }}
APP_KEY=sfLYG8uX6JJcB7KndfzEft9dqvdWxTTK
APP_URL=http{% if ssl == 1 %}s{% endif %}://{{ app_domain }}
APP_PORTAL_URL=http{% if ssl == 1 %}s{% endif %}://{{ portal_domain }}
APP_LOG=single
ELOCRYPT_PREFIX=stp:
DOSING_THROTTLE=9999999999
SNAPPY_PDF_BINARY='/usr/bin/xvfb-run /usr/bin/wkhtmltopdf'
API_DEBUG=true
API_DOMAIN=sso.api
CUSTOM_EXCEPTION=false
CUSTOM_EXCEPTION_DEBUG=false
DB_HOST=mysql
DB_DATABASE={{ mysql_db_app }}
DB_USERNAME={{ mysql_user }}
DB_PASSWORD={{ mysql_password }}
DB_HOST_SSO_DOSING=mysql
DB_DATABASE_SSO_DOSING={{ mysql_db_dosing }}
DB_USERNAME_SSO_DOSING={{ mysql_user }}
DB_PASSWORD_SSO_DOSING={{ mysql_password }}
CACHE_DRIVER=database
SESSION_DRIVER=database
QUEUE_DRIVER=database
OAUTH_PASSWORD_ACCESS_TOKEN_TTL=9999999
OAUTH_REFRESH_ACCESS_TOKEN_TTL=9999999
OAUTH_REFRESH_TOKEN_TTL=9999999

HASHIDS_CONNECTION=main
HASHIDS_SALT=3f2070e211f9f8yy2543b7a9a0830yd0
HASHIDS_LENGHT=35
HASHIDS_ALPHABET=abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890

DEV_PIN=Fx1vElpktD
###
### EMAIL DRIVER
###
MAIL_DRIVER=sendgrid
SENDGRID_API_KEY='{{ app_sendgrid_api_key }}'
###
### SENTRY
###
SENTRY_DSN='{{ app_sentry_dsn }}'
###
### FRESHDESK
###
FRESHDESK_API_KEY=
FRESHDESK_DOMAIN=

###
### SLACK NOTIFICATIONS
###

SLACK_ENDPOINT=https://hooks.slack.com/services/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
SLACK_CHANNEL=#git
SLACK_USERNAME_BOT="STP-DEV"
SLACK_MPS_ALLOW_NOTIFICATION=false
SLACK_MPS_CHANNEL=#stp-dev
SLACK_MPS_BOT="MPS_BOT"

SLACK_PER_PATIENT_BOT="STP-LOCAL"
SLACK_PER_PATIENT_CHANNEL=#log_oleg_dev

SLACK_FULFILLMENT_DEV_BOT="STP-LOCAL"
SLACK_FULFILLMENT_DEV_CHANNEL=#auto_ordering_dev
SLACK_FULFILLMENT_PROD_BOT="STP-LOCAL"
SLACK_FULFILLMENT_PROD_CHANNEL=#auto_ordering_prod

FEATURE_PAYMENTS={{ app_feature_payments }}
FEATURE_LICENCES={{ app_feature_licences }}
FEATURE_SALES_REPORTS={{ app_feature_sales_reports }}
FEATURE_DOSING_REPORTS={{ app_feature_dosing_reports }}
FEATURE_COUPONS={{ app_feature_coupons }}
FEATURE_PACKAGES={{ app_feature_packages }}
FEATURE_SYSTEM_MESSAGES={{ app_feature_system_messages }}
FEATURE_MEDICAL_MESSAGES={{ app_feature_medical_messages }}
FEATURE_FRESHDESK_MESSAGES={{ app_feature_freshdesk_messages }}
FEATURE_PHARMACY_AUTOMATED={{ app_feature_pharmacy_automated }}
FEATURE_PHARMACY_DELETION={{ app_feature_pharmacy_deletion }}

PAYMENT_EMAILS_SUSPEND={{ app_payment_emails_suspend }}
PAYMENT_EMAILS_LIFT={{ app_payment_emails_lift }}
PAYMENT_EMAILS_CARD={{ app_payment_emails_card  }}
PAYMENT_EMAILS_TRANSACTION={{ app_payment_emails_transaction }}

PHARMACY_EMAILS={{ app_pharmacy_emails }}

SEND_SUBSCRIPTION_REPORTS={{ app_send_subscription_reports }}

CHECK_APPOINTMENT_VISIT_DATE_FOR_DOSE={{ app_check_appointments_visit_date_for_dose }}

BACKUP_RUN={{ app_backup_run }}
BACKUP_CLEAN={{ app_backup_clean }}
BACKUP_APP_NAME={{ app_backup_app_name }}
BACKUP_SLACK_CHENNEL={{ app_backup_slack_channel }}
BACKUP_EMAIL_TO={{ app_backup_email_to }}

CONFIG_IMAGE_DRIVER={{ app_config_image_driver }}

FULFILLMENT_PERIOD={{ app_fulfillment_period }}

ECOMMERCE_FINANCE_PACKAGE_ID={{ app_ecommerce_finance_package_id }}

###
### Pusher
###
BROADCAST_DRIVER={{ app_broadcast_driver }}

PUSHER_APP_ID={{ app_pusher_app_id }}
PUSHER_APP_KEY="{{ app_pusher_app_key }}"
PUSHER_APP_SECRET="{{ app_pusher_app_secret }}"

UPS_ACCES_KEY={{ app_ups_access_key }}
UPS_LOGIN={{ app_ups_login }}
UPS_PASSWORD={{ app_ups_password }}
UPS_SHIPPER_NUMBER={{ app_ups_shipper_number }}
