CREATE DATABASE IF NOT EXISTS {{ mysql_db_app }};
CREATE DATABASE IF NOT EXISTS {{ mysql_db_app_test }};
CREATE DATABASE IF NOT EXISTS {{ mysql_db_dosing }};
CREATE USER IF NOT EXISTS '{{ mysql_user }}'@'%' IDENTIFIED BY '{{ mysql_password }}';
GRANT ALL ON {{ mysql_db_app }}.* TO '{{ mysql_user }}'@'%';
GRANT ALL ON {{ mysql_db_app_test }}.* TO '{{ mysql_user }}'@'%';
GRANT ALL ON {{ mysql_db_dosing }}.* TO '{{ mysql_user }}'@'%';
