<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loading...</title>
    <style>
        body {
            background: #394456;
        }

        body > img {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -30px;
            margin-left: -30px;
            width: 60px;
            height: 60px;
        }
    </style>
</head>
<body>
<img src="/loader.gif" alt="">
<script>
    const ws = new WebSocket('ws://{{ groups.masters[0] }}:3000');

    const redirectTo = window.location.href;
    const host = window.location.host;

    ws.onopen = () => {
        console.log('[Waiter]: Start to listen events...');
    };

    ws.onmessage = (event) => {
        const rawMessage = event.data;

        if (!isValidJson(rawMessage)) {
            console.log(`[Waiter]: Invalid JSON - ${rawMessage}`);
            return;
        }

        const json = JSON.parse(rawMessage);
        const hostFromCI = json.host;

        if (hostFromCI === host) {
            console.log(`[Waiter]: Redirect to ${redirectTo}`);
            window.location.replace(redirectTo);
        } else {
            console.log(`[Waiter]: Skip ${hostFromCI}`);
        }
    };

    ws.onclose = (status) => {
        console.log('[Waiter]: Close connection', status);
    };

    ws.onerror = (error) => {
        console.log('[Waiter]: Error', error);
    };

    function isValidJson(str) {
        console.log('STRING', str);
        return /^[\],:{}\s]*$/.test(str.replace(/\\["\\\/bfnrtu]/g, '@').
        replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').
        replace(/(?:^|:|,)(?:\s*\[)+/g, ''))
    }
</script>
</body>
</html>

