server {
    listen 80;
    server_name portal.${ENV}.loc;

    location / {
        proxy_pass http://portal;
        include proxy.conf;
    } 
}

server {
    listen 80;
    server_name app.${ENV}.loc;

    {% if ssl == 1%}
    ssl_certificate ${APP_SSL_CERT};
    ssl_certificate_key ${APP_SSL_KEY};
    {% endif %}
    
    location / {
        proxy_pass http{% if ssl == 1 %}s{% endif %}://app;
        include proxy.conf;
    } 
}

server {
    listen 80;
    server_name oauth.${ENV}.loc;

    {% if ssl == 1%}
    ssl_certificate ${OAUTH_SSL_CERT};
    ssl_certificate_key ${OAUTH_SSL_KEY};
    {% endif %}

    location / {
        proxy_pass http{% if ssl == 1 %}s{% endif %}://oauth;
        include proxy.conf;
    } 
}
